{% extends 'main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<h1>My & Public Textbooks</h1>
{% else %}
<h1>Public Textbooks</h1>
{% endif %}

<form class="form" action="{% url 'list-textbooks' %}" method="get">
    <label for="formInput#search">Search Textbooks:</label>
    <input id="formInput#search" type="text" name="search_query" value="{{search_query}}" placeholder="Search by Textbook Name" />
    <input type="submit" value="Search" />
</form>

{% for textbook in textbooks %}
    <br>
    <big><b>{{textbook.name}}</b></big>
    <br>
    {% if textbook.owner %}
        By {{textbook.owner}}
        <br>
    {% endif %}
    Created: {{textbook.created}}
    <br>
    Number of lessons: {{textbook.lesson_set.count}}
    <br>
    Number of cards: {{textbook.card_set.count}}
    <br>
    <br>
    {% if request.user.is_authenticated %}
        <a href="{% url 'create-lessons' textbook.id %}">Add new Lessons into this Textbook</a>
        <br>
        <a href="{% url 'create-cards' textbook.id %}">Add Cards into Lessons</a>
        <br>
        <a href="{% url 'pick-lessons' textbook.id %}">Learn from this Textbook in Single Session</a>
        <br>
        <a href="{% url 'activate-lessons' textbook.id %}">Add Lessons from this Textbook to my Long-Term Learning</a>
    {% else %}
        <a href="{% url 'login' %}">Sign in and learn from this Textbook</a>
    {% endif %}
{% endfor %}

{% if request.user.is_authenticated %}
<br><br><br><br>
<a href="{% url 'create-textbook' %}">Create new Textbook</a>
{% endif %}


{% endblock content %}