{% extends 'main.html' %}

{% block content %}

{% if not textbookId %}
<h1>Create new (private) Textbook</h1>
{% else %}
<h1>Add new Lessons</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}

    {% if not textbookId %}
    <div>
        <label class="label_two">Textbook Name: </label><br>
        <textarea class="input textfield_textbook" name="newTextbook" placeholder="here you type new textbook name"></textarea>
    </div>
    <input type="checkbox" id="one-way" name="one-way" value="one-way" >One way Cards only</input>
    <br><br>
    {% endif %}

    <div>
        <label class="label_two">Lesson Names: </label><br>
        <textarea class="input textfield" name="lessons" placeholder="divide lesson names by comma"></textarea>
    </div>

    <input class="submit" type="submit">
</form>

{% endblock %}