{% extends 'main.html' %}

{% block content %}

{% if not textbookId %}
<h1>Create new (private) Textbook</h1>
{% else %}
<h1>Add new Lessons</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}

    {% if not textbookId %}
    <div>
        <label>Textbook Name: </label>
        <textarea class="input" name="newTextbook" placeholder="here you type new textbook name"></textarea>
    </div>
    <input type="checkbox" id="one-way" name="one-way" value="one-way" >One way Cards only</input>
    {% endif %}

    <div>
        <label>Lesson Names: </label>
        <textarea class="input" name="lessons" placeholder="divide lesson names by comma"></textarea>
    </div>

    <input type="submit">
</form>

{% endblock %}