{% extends 'main.html' %}

{% block content %}
<h1>My account</h1>

<a href="{% url 'edit-account' %}">Edit Profile</a>

<h2>Name: {{profile.name}}</h2>
<p>Email: {{profile.email}}</p>
<p>Short intro: {{profile.short_intro|slice:"150"}}</p>
<p>Username: {{profile.username}}</p>
<p>Location: {{profile.location}}</p>
<p>Bio: {{profile.bio}}</p>
{% if profile.user_website %}
    <a title="website" href="{{profile.user_website}}" target="_blank">{{profile.username}}'s Webpage</a>
{% endif %}

<h2>List of my Textbooks:</h2>
{% for textbook in textbooks %}
    <big><b>{{textbook.name}}</b></big>
    <br>
    Created: {{textbook.created}}
    <br>
    Number of lessons: {{textbook.lesson_set.count}}
    <br>
    Number of cards: {{textbook.card_set.count}}
    <br>
    <br>
    <a href="{% url 'create-lessons' textbook.id %}">Add new Lessons into this Textbook</a>
    <br>
    <a href="{% url 'create-cards' textbook.id %}">Add Cards into Lessons</a>
    <br>
    <a href="{% url 'pick-lessons' textbook.id %}">Learn from this Textbook in Single Session</a>
    <br>
    <a href="{% url 'activate-lessons' textbook.id %}">Add Lessons from this Textbook to my Long-Term Learning</a>
    <br>
    <a href="{% url 'deactivate-lessons' textbook.id %}">Deactivate this Textbook's Lessons from my Long-Term Learning</a>
{% endfor %}

{% endblock %}