<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Learning Cards</title>
    <meta name='viewport' content='width=device.width, initial-scale=1'>

    <link rel="stylesheet" href="{% static 'styles/app.css' %}" / >
</head>
<body>
    <h1>Webpage for learning using Cards</h1>
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
        {{message}}
        <br>
        {% endfor %}
    {% endif %} 

    {% block content %}

    {% endblock content %}

</body>
</html>