<div class="navbar">
{% if request.user.is_authenticated %}
<a class="section{% if 'long-learning/' in request.path %} section_selected{% endif %}" href="{% url 'repeat-cards' %}">My Long-Term Learning</a>
<a class="section{% if '/' == request.path or 'textbooks/' in request.path %} section_selected{% endif %}" href="{% url 'list-textbooks' %}">Textbooks</a>
<a class="section{% if '/create-textbook/' == request.path %} section_selected{% endif %}" href="{% url 'create-textbook' %}">Create New Textbook</a>
<a class="section{% if 'users/profiles/' in request.path %} section_selected{% endif %}" href="{% url 'profiles' %}">User Profiles</a>
<a class="section{% if '/users/account/' == request.path or '/users/edit-account/' == request.path %} section_selected{% endif %}" href="{% url 'account' %}">My Account</a>
<a class="section{% if '/about/' == request.path %} section_selected{% endif%}" href="{% url 'about' %}">About</a>
<a class="section" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="section{% if '/' == request.path %} section_selected{% endif %}" href="{% url 'list-textbooks' %}">All Textbooks</a>
<a class="section{% if 'users/profiles/' in request.path %} section_selected{% endif %}" href="{% url 'profiles' %}">User Profiles</a>
<a class="section{% if '/about/' == request.path %} section_selected{% endif%}" href="{% url 'about' %}">About</a>
<a class="section" href="{% url 'login' %}">Login</a>
{% endif %}
</div>

<hr>